<ul class="nav nav-sidebar">
    <li>
        <a href="{{ path('app_admin_publication_index') }}">
            Publications
        </a>
    </li>
    <li>
        <a href="{{ path('app_admin_science_index') }}">
            Sciences
        </a>
    </li>
</ul>
